*{
    color: rgb(101, 98, 96);
}
body{
    background-color: (white);
}
header{
    background-color: rgb(white);
}
.back{
    text-decoration-line:none ;
    font-weight:bold;
    font-size: x-large;
    float: left;
    padding: 0px 10px 0px 0px;
    color: rgb(101, 98, 96);
    margin-top :0;
}
.form{
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: none;
    text-align: center;
}
#setting{
        margin: 10px auto;
        border: none;
        border-radius: 10px;
        text-align: center;
        position: relative;
        display: flex;
}
.user_img{
    margin: 20px 10px;
    padding: 10px;
    text-align: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
}
.user_profile{
    padding: 10px;
    text-align: left;
}
#setting > button{
    padding:3px 10px;
    position:absolute;
    top: 40px;
    right: 5px;
    background-color: white;
    border: 2px solid #eee;
    border-radius: 5px;
}
.main_contents {
    border-radius: 10px;
    border: 3px solid rgba(101, 98, 96, 0.5);
    background-color: white;
    min-height: 80vh;
    max-height: 90vh;
    max-width: 100%;
    text-align: center;
    justify-items: center;
}
.contents_body{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color : white;
}
.contents_body_with_img{
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color : white;
}
.contents_img{

    margin: 1rem;
    display:inline-block ;
    height: 30vw;
    width: 30vw;
    text-align: center;
    background-size:cover ; 
}
.contents_header{
    padding-top: 10px;
    border-top: 1px solid #666666;
    background-color : white;
    text-align: center ;
    font-size: x-large;
}
.center_aligned{
    text-align: center;
}
.left_aligned{
    text-align: left;
}
.bold_text{
    font-weight: bolder;
}
.Wrapper{
    display: inline;
}
.video-container {
    /* display: contents; */
    justify-content: center;
    position: relative;
    width: 80vw; /* 80% of the viewport width */
    height: 45vw; /* 45% of the viewport width (to maintain 16:9 aspect ratio) */
    max-width: 800px; /* Set a maximum width to prevent the video container from becoming too wide */
    max-height: 450px; /* Set a maximum height to prevent the video container from becoming too tall */
    margin-left: 9%;
}
.video-container iframe {
    width: 100%;
    height: 100%;
}
.img-container {
    /* display: contents; */
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
    width: 80vw; /* 80% of the viewport width */
    height: 45vw; /* 45% of the viewport width (to maintain 16:9 aspect ratio) */
    max-width: 800px; /* Set a maximum width to prevent the video container from becoming too wide */
    max-height: 450px; /* Set a maximum height to prevent the video container from becoming too tall */
    margin-inline-start: 8%;
    background-repeat: no-repeat;
    background-size:contain;
}
.img-big{
    /* display: contents; */
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
    width: 80vw; /* 80% of the viewport width */
    height: 45vw; /* 45% of the viewport width (to maintain 16:9 aspect ratio) */
    max-width: 800px; /* Set a maximum width to prevent the video container from becoming too wide */
    max-height: 450px; /* Set a maximum height to prevent the video container from becoming too tall */
    margin-inline-start: 17%;
    background-repeat: no-repeat;
    background-size:contain;
}
/*좋아요 버튼 animation*/
@keyframes beat {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  .like-btn .fa-thumbs-up {
    animation: beat 0.5s ease-in-out; /* 애니메이션 적용 */
  }
/* 사이드메뉴 css 시작 */
/* 개인페이지에 맞게 width, height, top 조절하면 됩니당 */

    /* 반응형 웹 (sidebar plus at 768px) */
    #sidemenu{
      display: none;
    }

  @media (min-width: 768px){
      /* 사이드메뉴 */
    .motherwrapper{
        display: grid;
        grid-template-columns: 1fr 20%;
        gap : 1rem;
    }
    .main_contents{
        max-width: 1fr;
    }
    #sidemenu{
        display:block;
        position: fixed;
        /* 사이드메뉴 너비 퍼센트조정 */
        width: 20%; 
        height: 500px;
        /*sidebar 위치 지정 (위에서부터 몇 퍼센트)*/
        top: 40%;
        right: 2%;
        background-color: #eae8e8;
        border-radius: 2%;
        overflow: scroll;
    }
    .main_contents{
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color : white;
    }
    .img-big{
        max-width: 80%;
        max-height: 45%;
        /* margin-left: 7%; */
    }
    .img-container{
        max-width :80%;
        max-height: 45%;
        /* margin-left :0 ; */
    }
    .video-container{
        max-width :80%;
        max-height: 45%;
    }
    .inline{
        margin: 5px auto;
        border: 1px solid #5f5b5b;
        border-radius: 5px;
        text-align: center;
        box-sizing: border-box;
        width: 90%;
        display:flex;
        padding: .3125rem 0;
        }
    #sidetitle{
        text-align: center;
        }
    #sidehr{
        width: 90%;
        margin-left: 15px;
        }
    #sidetext{
        display: -webkit-box;
        -webkit-line-clamp: 1; /* 보여질 라인 수 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break:break-all;
        font-size: 14px;
        padding: 3px;
    }
  }