body{
	line-height: 1.6;
}

aside{
  margin-right: 3%;
  margin-top: -6px;
}

#video{
  display: flex;
  width: 100%;
  /* width: 26.875rem; */
  margin-top: 125px;
  filter: brightness(50%);
}

.video_text { 
  position: absolute; 
  top: 200px; 
  left: 3%;
  width: 100%; 
}

#vt1{
  font-size: 18px; 
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

#vt2{
  font-size: 12px; 
  color: #ffffff;
  font-weight: 500;
}

body{
  margin: 0;
}

#all{
 position: relative;
}

#container{
  margin: 0 auto;
  padding: 0 auto;

}

.tab, .prod-list{
  box-sizing: border-box;
}

.tab{
	/* width: 430px; */
  margin: 5px;

}

.tabs{
  display: flex;
  width: 100%;
}

ul.prod-list{
  margin: 0px 0px 5px 0px;
  padding: 0px;

}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #848794;
	color: #fff;
  border-radius: 2% 2% 0% 0%;
}

#menutitle{
  font-weight: 900;
}

.tab-content{
	display: none;
	background: #434a63;
	padding: 0px 0px;
}

.tab-content.current{
	display: inherit;
}


#ad1, #ad2{
  width: 203px;
  height: 150px;
  background-color: #ededed;
  /* margin: 15px 10px 10px 0px; */
  border-radius: 2%;
}

#adimg1{
  width: 204px;
  height: 150px;
  margin: 5px 5px 5px 5px;
  border-radius: 2%;
  opacity: 0.8;
  filter: brightness(50%);
}

#adimg2{
  width: 204px;
  height: 150px;
  margin: 5px 5px 5px 0px;
  border-radius: 2%;
  opacity: 0.8;
  filter: brightness(50%);
}

#adimg3{
  width: 413px;
  height: 150px;
  background-color: #ededed;
  /* margin: 0px 15px 20px 6px; */
  margin: 5px 5px 5px 5px;
  border-radius: 2%;
  opacity: 0.8;
  filter: brightness(50%);
}

/* #adimg4{
  width: 170px;
  height: 150px;
  margin: 5px 5px 5px 0px;
  border-radius: 2%;
  opacity: 0.8;
  filter: brightness(50%);
} */

.adtab {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.adtext1 {
  font-size: 18px;
  position: absolute;
  text-align: center;
  top: 70px;
  left: 100px;
  transform: translate( -50%, -50% );
  color: white;
}

.adtext2 {
  font-size: 18px;
  position: absolute;
  top: 70px;
  left: 310px;
  transform: translate( -50%, -50% );
  color: white;
}

.adtext3 {
  font-size: 18px;
  position: absolute;
  text-align: center;
  top: 233px;
  left: 220px;
  transform: translate( -50%, -50% );
  color: white;
}





header{
  display: flex;
  width: 100%;
  position: fixed;
  top: 10px;
  left: 0px;
  /* width: 430px; */
  height: 69px;
  margin-top: -15px;
  background-color: white;
  z-index: 1;
  padding-top: 2cqh;
}



footer{
  display: flex;
  width: 100%;
  min-width: 450px;
  position: fixed;
  top: 70px;
  left: -8px;
  /* width: 430px; */
  height: 155px;
  margin: 0px;
  padding: 0px;
  z-index: 2;
}

