body{
  width: 430px;
	line-height: 1.6;
}



#video{
  width: 430px;
  margin-top: 25%;
  filter: brightness(50%);
}

.video_text { 
  position: absolute; 
  top: 30%; 
  left: 3%;
  width: 100%; 
}

#vt1{
  font-size: 1.125rem; 
  color: #ffffff;
  font-weight: 700;
  margin-bottom: .625rem;
}

#vt2{
  font-size: .75rem; 
  color: #ffffff;
  font-weight: 500;
}

body{
  margin: 0;
}

#all{
 position: relative;
}

#container{
  margin: 0 auto;
  padding: 0 auto;

}

.tab, .prod-list{
  box-sizing: border-box;
}

.tab{
	width: 26.875rem;

}

ul.prod-list{
  margin: 0rem 0rem .3125rem 0rem;
  padding: 0rem;

}

ul.tabs{
	margin: 0rem;
	padding: 0rem;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: .625rem 1.875rem;
	cursor: pointer;
}

ul.tabs li.current{
	background: #848794;
	color: #fff;
  border-radius: 2% 2% 0% 0%;
}

#menutitle{
  font-weight: 900;
}

.tab-content{
	display: none;
	background: #434a63;
	padding: 0rem 0rem;
}

.tab-content.current{
	display: inherit;
}

#adtab{
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#ad1, #ad2{
  width: 12.6875rem;
  height: 9.375rem;
  background-color: #ededed;
  /* margin: .9375rem .625rem .625rem 0rem; */
  border-radius: 2%;
}

#adimg1{
  width: 12.75rem;
  height: 9.375rem;
  margin: .625rem 0rem .3125rem .375rem;
  border-radius: 2%;
  opacity: 0.8;
  filter: brightness(50%);
}

#adimg2{
  width: 12.75rem;
  height: 9.375rem;
  margin: .625rem 0rem .3125rem 0rem;
  border-radius: 2%;
  opacity: 0.8;
  filter: brightness(50%);
}

.adtab {
  position: relative;
}

.adtext1 {
  font-size: 1.125rem;
  position: absolute;
  text-align: center;
  top: 4.375rem;
  left: 6.25rem;
  transform: translate( -50%, -50% );
  color: white;
}

.adtext2 {
  font-size: 1.125rem;
  position: absolute;
  top: 4.375rem;
  left: 19.375rem;
  transform: translate( -50%, -50% );
  color: white;
}

#adimg3{
  width: 25.8125rem;
  height: 9.375rem;
  background-color: #ededed;
  margin: 0rem .9375rem 1.25rem .375rem;
  border-radius: 2%;
  opacity: 0.8;
  filter: brightness(50%);
}

.adtext3 {
  font-size: 1.125rem;
  position: absolute;
  top: 56.875rem;
  left: 50%;
  transform: translate( -50%, -50% );
  color: white;
}

header{
  position: fixed;
  top: .625rem;
  left: 0rem;
  width: 26.875rem;
  height: 4.125rem;
  margin-top: -0.625rem;
  background-color: white;
  z-index: 2;
  padding-top: .625rem;
}


footer{
  position: fixed;
  top: 4.375rem;
  left: 0rem;
  width: 26.875rem;
  height: 5rem;
  margin: 0rem;
  padding: 0rem;
}



/* @media (min-width: 48rem) {
  header{
    width: 48rem;
    height: 80px;
  }

  #head_logo{
    
  }

  footer{
    width: 48rem;
    height: 80px;
    top: 10%;
  }

  #video{
    width: 48rem;
    margin-top: 170px;
  }

  #vt1{
    font-size: 30px;
    margin-top: 0px;
  }

  #vt2{
    font-size: 20px;
  }

  #menutitle{
    width: 130px;
    height: 30px;
    font-size: 20px;
    padding-left: 52px;
  }

  #tab-1, #tab-2{
    width: 768px;
  }


  }

} */