/* 검색창 슬라이드 */
#search{ 
  display: flex;
  margin-top: 10px;
  max-width: 100%;
  background-color: none;
  border: none;
  border-radius: 5px;
  /* justify-content: center; */
  /* width:400px; */
}

#search_text{
  /* border: 1px solid rgb(170, 215, 217); */
  border: 2px solid #434a63;
  border-radius: 0.5rem;
  display: flex;
  width: 100%;
  height: 35px;
  margin: 5px 5px 5px 0px;
  font-size: 15px;
  font-weight: 700;
}

#search_img{
  border: 0.1rem solid #434a63;
  border-radius: 0.5rem;
  border-style: solid;
  max-height: fit-content;
  width: 24px;
  height: 24px;
  margin: 5px 5px 5px 0px;
  /* filter: opacity(0.9) drop-shadow(0 0 0 #ffffff); */
  background-color: #434a63;
  padding: 6px;
  transform: scaleX(-1); transition: .3s;
}

/* 해시태그 */
.hashtags{
  display:flex;
  flex-wrap: wrap;
  margin: 6px auto;
}
.hashtags a{
  color: #434a63;
  margin: 3px;
  padding: 4px;
  text-decoration-line: none;
  border: 1.5px solid #434a63;
  border-radius: 15px;
  font-size: small;
}

/* 리뷰보러가기 */
#picword_part{
  border-bottom: 2px solid #E5E1DA;
  font-size: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height:120px;
  grid-gap: 70px;
  /* border-radius: 8px; */
  margin: 0px auto;
  margin-bottom: 10px;
  line-height: 12px;
  padding: 10px;
  position: relative;
  }

  .picword_text{
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 보여질 라인 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 50%;
    position:absolute;
    top: 35%;
    left: 5%;
    font-size: x-small;
  }
  /* picword 영화 제목 */
  .picword_title{
    font-weight: bold;
    position:absolute;
    top: 15%;
    left: 5%;
    /* font-weight: bold; */
    font-size: small;
  }
  
  .picword_comment{
    position:absolute;
    bottom: 20%;
    left: 5%;
    /* font-weight: bold; */
    font-size: x-small;
  }
  #picword_part > div > img{
    position: absolute;
    top:10%;
    right: 5%;
  }

  .crop-img {
    width: 110px; /* 원하는 가로 크기 */
    height: 110px; /* 원하는 세로 크기 */
    object-fit: cover; /* 이미지를 잘라서 비율을 유지하면서 채우기 */
  }

  .crop-round {
    border-radius: 50%;
    width:50px;
  }

  #picword_part:hover > div > .picword_title{
    text-decoration: underline;
  }

  #picword_part:hover{
    cursor: pointer;
  }

  #sidemenu{
    display:none;
  }
  
  @media screen and (min-width: 767px) {

    /* form 크기조절 & 위치조정 퍼센트로 조정, 본인컨텐츠 필요한대로 조절하세욥*/
  #review-list{
    width: 75%;
  position:absolute;
  left:10px;
  }
    /* 사이드메뉴 */
    #sidemenu{
      display:block;
      position: fixed;
      width: 25%; /* 사이드메뉴 너비 퍼센트조정 */
      max-width: 350px;
      height: 500px;
      top: 25%;
      right: 2%;
      background-color: #eae8e8;
      border-radius: 2%;
    }
    /* 그리드 박스 */
    .grid-container {
      margin:10px;
      display: grid;
      grid-template-columns: 60px 2fr;
    }
    .grid-item {
      white-space: nowrap;
      font-size: 12px;
      margin: 2px;
      /* justify-self: center; */
      /* align-self: center; */
      /* background-color: #ccc; */
      padding: 5px;
      text-align: left;
      display: -webkit-box;
    -webkit-line-clamp: 1; /* 보여질 라인 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    }

    .grid-item-2 {
      grid-row: span 2;
      /* justify-self: center; */
      /* align-self: center; */
    }

    .grid-container > :nth-child(2) {
      grid-column: span 1; /* 두 번째 열의 크기를 1로 설정 (기본값은 1fr) */
    }
    /* 그리드 끝 */
    /* 사이드바 제목 */
    #sidetitle{
      text-align: center;
    }
    
    #sidehr{
      width: 90%;
      margin-left: 15px;
    }
    /* 사이드바 안의 텍스트 */
    #sidetext{
      text-align: left;
      font-size: 14px;
      padding: 3px;
    }

    #sidetext_comment{
      text-align: left;
      font-size: 12px;

    }
    /* 사이드메뉴 css 끝 */
    }