/* 모달창 */
.modal{
  position:absolute;
  display:none;
  justify-content: center;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 10;
}
.modal_body{
  position:absolute;
  top:50%;
  width:250px;
  height:400px; 
  padding:40px;  
  text-align: center;
  background-color: rgb(255,255,255); 
  border-radius:10px; 
  box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 
  transform:translateY(-50%);
}
.modal h5{
  margin: 30px 0px 15px 3px;
  padding: 0px;
  text-align: left;
}

.closeModal{
  font-size: large;
  display: inline-block;
  float: right;
  border:none;
  background-color: white;
}

.reviewbtn1, .reviewbtn2{
  border: 1px solid #e5e1Da;
  background-color: #AAD7D9;
  text-align: center;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  padding: 8px 8px ;
  margin: 10px 5px auto;
}

/* 사이드메뉴 css 시작 */
/* 개인페이지에 맞게 width, height, top 조절하면 됩니당 */

#sidemenu{
  position: fixed;
  width: 189px;
  height: 400px;
  top: 23.4%;
  right: 2%;
  background-color: #eae8e8;
  border-radius: 2%;
}

#sidetitle{
  text-align: center;
}

#sidehr{
  width: 160px;
  margin-left: 15px;
}

#sidetext{
  font-size: 14px;
  margin-left: 25px;
}

/* 사이드메뉴 css 끝 */