
/* YJ(양지은)_ipicword 파일 시작 */
/* ipicword 보더 구역 */
#ipicword_part{
    border: 2px solid #E5E1DA;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    grid-gap: 70px;
    border-radius: 8px;
    margin: 0px auto;
    line-height: 12px;
    }
    /* ipicword 시청 날짜 */
    .ipicword_date{
     margin: 0px -60px;
    }
    /* ipicword 영화 제목 */
    .ipicword_title{
      font-weight: bold;
      margin: 0px -60px;
      font-size: 10px;
    }
    /* ipicword 리뷰 버튼 아이콘 */
    .material-symbols-outlined {
      
       margin: 1px auto;
       border: 2px solid #E5E1DA;
       border-radius: 5px;
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
    }
    /* ipicword 영화 이미지 크기 조정 */
    img{
      width: 35px;
      height: 25px;
    }
    /* YJ(양지은)_ipicword 파일 끝 */
    