/* navbar  css*/
#navbar{ 
  display: flex;
  max-width: 100%;
  background-color: #E5E1DA;
  border: none;
  border-radius: 5px;
  justify-content: space-between;
}

.navbar{
  border-radius: 5px;
  padding: 5px 5px;
  margin:10px auto;
  width: 65px;
  background-color: #FBF9F1;
  text-align: center;
}

.navbar>a{
  color: black;
  text-decoration-line: none;
}
/* navbar css */