
/* YJ(양지은) login css 시작 */
/* login 코드 전 구역  */
body{
    background-color: #Fff;
}
#login{
display: grid;
grid-template-areas: 
"a"
"a"
"a"
"a";
grid-gap: 3vw;
margin-top: 2%;
text-align: center;

}
/* m-log 제목 스타일 */
.login_title{
    margin:7% auto;
    margin-top: -4%;
  font-size: 30px;
  font-weight: bold;
width: 31vw;
height: 80px;
  
}


.back{
    text-decoration-line:none ;
    font-weight:bold;
    font-size: 20px;
    /* display: inline-block; */
    float: left;
    color: rgb(101, 98, 96);
    position: relative;
    top: 10px;
    
    margin: 3px; 
    }

/* ID,비밀번호 스타일 */
.login_input{
    width: 220px;

    padding: 6px 6px;
    display: flex;
    margin: -9px auto;
    border-radius: 5px;
    border: 2px solid #e5e1Da;
    position: relative;
    top:-26px;

}
/* 카카오,네이버, 구글 아이콘 이미지  */
img{
    width:100%;
    height: 40px;
}
/* 로그인, 회원가입 버튼 */
.login_butt{
width: 250px;
height: 30px;
display: flex;
justify-content: center;
padding-top: 10px;
background-color:rgb(101, 98, 96);
border-radius: 7px;
font-size: 15px;
color: white;
font-weight: bold;
margin: 8px auto; 
}





/* 버튼 밑줄  */
#butt_line{
text-decoration: none;
}
/* 카카오,네이버, 구글 스타일 */
#login_other{
display: flex;
justify-content: center;
grid-gap: 10vw;
border-radius: 5px;
}
/* 아이콘 그림 둥글게 */
.login_other{
border-radius: 35%;
margin: 5px auto ;
}
/* YJ(양지은) login css 끝 */




    
    @media (min-width: 432px){
      /* 공통부분 */
   
      .login_input{   
        width: 350px;
        }
    .login_butt{
        width: 390px;
  
        
    }
    #login_other{

        grid-gap: 140x;
    }

      }

      @media (max-width: 432px){

     .back{
        font-size: 15px;
     }

      }