
/* YJ(양지은)_picword 파일 시작 */
/* picword 보더 구역 */
#picword_part{
    border: 2px solid #E5E1DA;
    font-size: 7px;
    display: grid;
    grid-template-areas: "a a a";
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    }
 
    /* picword 시청 날짜 */

    /* picword 영화 제목 */
    .picword_title{
      font-weight: bold;
      font-size: 10px;
    
     
    }
    .picword_content{
      margin-right: 50vw;
 
    }
    /* picword 영화 이미지 크기 조정 */
    .picword_img{
      width: 40px;
      height: 30px;
      border-radius: 5px;
      margin-top: 3px;
      }
    /* picword_아이콘 */
    .picword_icon{
      width: 20px;
      height: 20px;

    }
    /* YJ(양지은)_picword 파일 끝 */
    