
/* YJ(양지은)_picword 파일 시작 */
/* picword 보더 구역 */
#picword_part{
    border: 2px solid #E5E1DA;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    grid-gap: 70px;
    border-radius: 8px;
    margin: 0px auto;
    line-height: 12px;
    }
    /* picword 시청 날짜 */
    .picword_date{
     margin: 0px -60px;
    }
    /* picword 영화 제목 */
    .picword_title{
      font-weight: bold;
      margin: 0px -60px;
      font-size: 10px;
    }
    /* picword 리뷰 버튼 아이콘 */
    .material-symbols-outlined {
      
       margin: 1px auto;
       border: 2px solid #E5E1DA;
       border-radius: 5px;
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
    }
    /* picword 영화 이미지 크기 조정 */
    img{
      width: 35px;
      height: 25px;
      border-radius: 5px;
    }
    /* picword_아이콘 */
    .picword_icon{
      width: 20px;
      height: 20px; 
      margin: 3px;
      position: relative;
      top: 1px;
      left: 6px;
    }
    /* YJ(양지은)_picword 파일 끝 */
    